<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="itemMap" type="GildedRose.Configuration.ItemMapConfigurationSection, GildedRose.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=cd6a4d6fd9300229"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <itemMap>
    <handlers>
      <add name="NormalDegradingItemHandler" type="GildedRose.ItemHandlers.NormalDegradingItemHandler, GildedRose.ItemHandlers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=cd6a4d6fd9300229">
        <properties>
          <add name="ReduceSellInBy" value="1" />
          <add name="ReduceQualityBy" value="1" />
          <add name="ReduceQualityBeyondSellInBy" value="2" />
          <add name="MaxQuality" value="50" />
          <add name="MinQuality" value="0" />
        </properties>
      </add>
      <add name="IncrementingDegradingItemHandler" type="GildedRose.ItemHandlers.IncrementingDegradingItemHandler, GildedRose.ItemHandlers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=cd6a4d6fd9300229">
        <properties>
          <add name="ReduceSellInBy" value="1" />
          <add name="ReduceQualityBy" value="2" />
          <add name="ReduceQualityBeyondSellInBy" value="4" />
          <add name="MaxQuality" value="50" />
          <add name="MinQuality" value="0" />
        </properties>
      </add>
      <add name="NormalAgingItemHandler" type="GildedRose.ItemHandlers.NormalAgingItemHandler, GildedRose.ItemHandlers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=cd6a4d6fd9300229">
        <properties>
          <add name="ReduceSellInBy" value="1" />
          <add name="IncreaseQualityBy" value="1" />
          <add name="IncreaseQualityBeyondSellInBy" value="1" />
          <add name="MaxQuality" value="50" />
          <add name="MinQuality" value="0" />
        </properties>
      </add>
      <add name="IncrementingAgingItemHandler" type="GildedRose.ItemHandlers.IncrementingAgingItemHandler, GildedRose.ItemHandlers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=cd6a4d6fd9300229">
        <properties>
          <add name="ReduceSellInBy" value="1" />
          <add name="IncreaseQualityBy" value="1" />
          <add name="IncreaseQualitySellInThresholds" value="10;5" />
          <add name="IncreaseQualitySellInThresholdBy" value="2;3" />
          <add name="MaxQuality" value="50" />
          <add name="MinQuality" value="0" />
        </properties>
      </add>
      <add name="FixedQualityNoSellItemHandler" type="GildedRose.ItemHandlers.FixedQualityNoSellItemHandler, GildedRose.ItemHandlers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=cd6a4d6fd9300229" />
    </handlers>
    <categories>
      <add name="NormalDegrading" handler="NormalDegradingItemHandler" />
      <add name="Conjured" handler="IncrementingDegradingItemHandler" />
      <add name="NormalAging" handler="NormalAgingItemHandler" />
      <add name="IncrementingAging" handler="IncrementingAgingItemHandler" />
      <add name="Legendary" handler="FixedQualityNoSellItemHandler" />
    </categories>
    <items>
      <add name="+5 Dexterity Vest" sellIn="10" quality="20" category="NormalDegrading" />
      <add name="Aged Brie" sellIn="2" quality="0" category="NormalAging" />
      <add name="Elixir of the Mongoose" sellIn="5" quality="7" category="NormalDegrading" />
      <add name="Sulfuras, Hand of Ragnaros" sellIn="0" quality="80" category="Legendary" />
      <add name="Backstage passes to a TAFKAL80ETC concert" sellIn="15" quality="20" category="IncrementingAging" />
      <add name="Conjured Mana Cake" sellIn="3" quality="6" category="Conjured" />
    </items>
  </itemMap>
</configuration>
